{% load static %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Las Cumbres Observatory</title>
  <meta name="description" content="Las Cumbres Observatory Education Feedback website">
  <meta name="author" content="Edward Gomez">

  <link rel="stylesheet" href="{% static "polls/css/feedback.css" %}">
  <link href='https://cdn.lco.global/mainstyle/css/affogato-1.0.0.css' rel="stylesheet">

</head>

<body>
{% block main_content %}
{% endblock %}
<footer>
  <p> All information is stored anonymously and cannot be linked to individuals. Your feedback will be used internally for improving our resources and fundraising for the LCO education program. We do not use this information for sociological or education theory research.</p>
  <a href="https://lco.global"><img src="https://cdn.lcogt.net/mainstyle/img/LCO_logo_Color_Horizontal_md.jpg" alt="Las Cumbres Observatory" /></a>
</footer>
</body>
</html>
