{% extends 'polls/base.html' %}
{% load static %}

{% block main_content %}
<h1>{{ object.name }} Feedback</h1>


{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
{% endif %}

{% regroup questions by question__text as question_list %}

{% if answered %}
<p>You have previously answered this survey.</p>
<p>Return to <a href="https://lco.global">Las Cumbres Observatory</a></p>
{% else %}
<p>
  After using robotic telescopes or robotic telescope data as part of this project,
  please tell us how much you agree with these statements.</p>
<form action="{% url 'polls:vote' object.id %}" method="post">
{% csrf_token %}
{% for question in questions %}
    <h2>{{ question.text }}</h2>
    <div class="question-box">
      <div class="emoji-row">
        {% for choice in question.choices %}
        <div class="emoji-container">
        <label for="choice{{ forloop.counter }}-{{choice.id}}">
          <input type="radio" name="question-{{question.question_id}}" id="choice{{ forloop.counter }}-{{choice.id}}" value="{{ choice.id }}" />
          <img src="{% static choice.icon %}" />
        </label>
        <div class="choice">
          {{ choice.text }}
        </div>
        </div>
        {% endfor %}
      </div>
  </div>
{% endfor %}
<h3>Comments [optional]</h3>
<p><textarea name="comment" style="width:80%;height:100px;" placeholder="Please give us any other comments"></textarea></p>
<input type="submit" value="Vote" class="button button1" />

</form>
{% endif %}
</p>
<p>All information is stored anonymously and cannot be linked to individuals. Your feedback will be used internally for improving our resources and fundraising for the LCO education program. We do not use this information for sociological or education theory research.</p>

{% endblock %}
