{% extends 'polls/base.html' %}
{% load static %}

{% block main_content %}
<h1>Thanks for your Feedback</h1>

<p>Thank you for giving your feedback for the "{{object.name}}" program. All information is stored anonymously and cannot be linked to individuals. Your feedback will be used internally for improving our resources and fundraising for the LCO education program. We do not use this information for sociological or education theory research.</p>
<p><button onclick="window.close();" class="button button1">Close this window</button></p>
{% endblock%}
