/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

.question-box {
  background-color: #AED6F1;
  border-radius: 25px;
  padding: 20px;
  margin:20px;
  color:#555;
}


body {
	font-family: 'Affogato-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
